@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Silkscreen&family=Updock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Junge&family=Silkscreen&family=Updock&display=swap');

*{
    padding: 0;
    margin: 1px;
}

.menubar {
    background-color: beige;
    border: solid black;
    height: 2vh;
    margin: 15px;
    padding: 10px;
}

#grouplinks {
    float: right;
}

.name {
    float: left;
}

.banner{text-align: center;}

.linkverti{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 10vw;
    border: solid black;
    background-color: aliceblue;
    float: left;
}

.verti a{
    text-decoration: none;
    display: block;
}

.maincunt {
    display: inline-block;
    height: 85vh;
    width: 70vw;
    border: solid black;
    background-color: rgb(229, 197, 229);
    text-align: justify;
    text-align: left;
}

.maincunt p{font-family: 'Junge', serif;}

.maincunt h1{
    text-align: center;
    font-family: 'Silkscreen', cursive;
}

.maincunt h1 span {
    color: lightcoral;
    font-family: 'Cedarville Cursive', cursive;
}

.image {
    text-align: center;
}

.third {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 10vw;
    height: 25vh;
    border: solid black;
    background-color: azure;
    float: right;
}