*{
    padding: 0;
    margin: 1px;
}

.menubar {
    background-color: beige;
    border: solid black;
    height: 2vh;
    margin: 15px;
    padding: 10px;
}

#grouplinks {
    display: inline-block;
    float: right;
}

.name {
    display: inline-block;
    float: left;
}

.linkverti{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
    width: 10vh;
    position: relative;
    bottom: 400px;
    border: solid black;
    background-color: aliceblue;
}

.verti a{
    text-decoration: none;
    display: block;
}

.maincunt {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
    height: 85vh;
    width: 80vw;
    border: solid black;
    background-color: rgb(229, 197, 229);
}

.maincunt h1 span {
    color: lightcoral;
}

.image {
    text-align: center;
}

.third {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
    width: 10vh;
    border: solid black;
    position: relative;
    bottom: 372px;
    background-color: azure;
}