*{
    padding: 0;
    margin: 1px;
}

.menubar {
    background-color: pink;
    border: solid black;
    height: 2vh;
    margin: 15px;
    padding: 10px;
}

#grouplinks {
    display: inline-block;
    float: right;
}

.name {
    display: inline-block;
    float: left;
}

.linkverti{
    display: inline-block;
    width: 10vh;
    position: relative;
    bottom: 40px;
    border: solid black;
}

.verti a{
    text-decoration: none;
    display: block;
}

.maincunt {
    display: inline-block;
    height: 50vh;
    width: 80vw;
    border: solid black;
}

.third {
    display: inline-block;
    width: 10vh;
    border: solid black;
    position: relative;
    bottom: 50px;
}